@font-face {
    font-family: 'HangeulNuri Bold';
    src: url('../assets/fonts/HangeulNuriB.ttf') format('truetype');
}

@font-face {
    font-family: 'BMDOHYEON';
    src: url('../assets/fonts/BMDOHYEON_ttf.ttf') format('truetype');
}

@font-face {
    font-family: 'BMHANNAPro';
    src: url('../assets/fonts/BMHANNAPro.ttf') format('truetype');
}
@font-face {
    font-family: 'BMJUA';
    src: url('../assets/fonts/BMJUA_ttf.ttf') format('truetype');
}
@font-face {
    font-family: 'BMYEONSUNG';
    src: url('../assets/fonts/BMYEONSUNG_ttf.ttf') format('truetype');
}
